<div id="about-us-text">
<% if(@authentications)%>
  <% unless @authentications.empty?%>
    <p><strong>You can sign in to this account using:</strong></p>
    <div class="authentications">
      <% @authentications.each do |authentication| %>
        <div class="authentication">
          <%=image_tag "#{authentication.provider}_32.png", :size => "32x32"%>
          <div class="provider"><%= authentication.provider%></div>
          <div class="uid"><%=authentication.uid%></div>
          <%=link_to("X", authentication, :confirm => 'Are you sure?', :method => :delete, :class => 'Remove')%>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <%end%>
  <p><strong>Add another service to sign in with:</strong></p>
<%else%>
  <p><strong>Sign up with one of these services:</strong></p>
<%end%>

<a href="<%= omniauth_authorize_path(User.new, :facebook) -%>" class="auth_provider">
  <%= image_tag("facebook_64.png", :size => "64x64", :alt => 'Facebook') %>
</a>
<a href="<%= omniauth_authorize_path(User.new, :linked_in) -%>" class="auth_provider">
  <%= image_tag("linked_in_64.png", :size => "64x64", :alt => 'Linkedin') %>
</a>
<a href="<%= omniauth_authorize_path(User.new, :twitter) -%>"  class="auth_provider">
  <%= image_tag("twitter_64.png", :size => "64x64", :alt => 'Twitter') %>
</a>
<div class="clear"></div>

<% unless user_signed_in? %>
  <p>
    <strong>Don't use these services?</strong>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "sign in", new_user_session_path %> with a password.
  </p>
  <br/><br/><br/><br/>
  <div style="border: 1px black solid">
  </div>
  <p>
    Here is what our users are saying
  </p>
<% end %>
</div>